@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@include b(backtop) {
  display: block;
  position: fixed;
  z-index: $--index-popper;
  cursor:pointer;
  padding: 8px 12px;
  border-radius: $--border-radius-base;
  @include e(normal) {
    font-size: $--font-size-extra-large;
    background:rgba($color: #000000, $alpha: .3);
    .icon-cd-left{
      transform: rotateZ(90deg);
    }
  }
}
