@import "common/var";

@font-face {
  font-family: "iconfont";
  src: url("#{$--font-path}/cd-fonts.woff") format("woff"),
    /* chrome, firefox */ url("#{$--font-path}/cd-fonts.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="icon-cd-"],
[class*="icon-cd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  &.linear-color {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(225deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  }
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cd-info-circle:before {
  content: "\e6ca";
}

.icon-cd-info-circle-outline:before {
  content: "\e6a3";
}

.icon-cd-error-circle:before {
  content: "\e7e7";
}

.icon-cd-error-circle-outline:before {
  content: "\e682";
}

.icon-cd-bulb-outline:before {
  content: "\e6a5";
}

.icon-cd-warning-outline:before {
  content: "\e605";
}

.icon-cd-warning-circlet-outline:before {
  content: "\e76e";
}

.icon-cd-warning:before {
  content: "\e609";
}

.icon-cd-success-circle:before {
  content: "\e905";
}

.icon-cd-warning-circle:before {
  content: "\e67f";
}

.icon-cd-success-circle-outline:before {
  content: "\e911";
}

.icon-cd-twiter:before {
  content: "\e612";
}

.icon-cd-personal:before {
  content: "\e604";
}

.icon-cd-icon-article:before {
  content: "\e629";
}

.icon-cd-delete:before {
  content: "\e628";
}

.icon-cd-on:before {
  content: "\e60b";
}

.icon-cd-artboard-copy:before {
  content: "\e63b";
}

.icon-cd-radio-on:before {
  content: "\e910";
}

.icon-cd-skip-backward:before {
  content: "\e927";
}

.icon-cd-right:before {
  content: "\e63c";
}

.icon-cd-paper-plane:before {
  content: "\e601";
}

.icon-cd-unlock:before {
  content: "\e6d8";
}

.icon-cd-left:before {
  content: "\e600";
}

.icon-cd-refresh:before {
  content: "\e606";
}

.icon-cd-map:before {
  content: "\e674";
}

.icon-cd-star:before {
  content: "\e6ad";
}

.icon-cd-build:before {
  content: "\e7ae";
}

.icon-cd-lock:before {
  content: "\e77f";
}

.icon-cd-text:before {
  content: "\e993";
}

.icon-cd-menu:before {
  content: "\e71c";
}

.icon-cd-skip-forward:before {
  content: "\e6a4";
}

.icon-cd-trash:before {
  content: "\eb52";
}

.icon-cd-arrow-down:before {
  content: "\e7b0";
}

.icon-cd-spinner:before {
  content: "\e602";
}

.icon-cd-photos:before {
  content: "\e856";
}

.icon-cd-eye-off:before {
  content: "\e6fa";
}

.icon-cd-add:before {
  content: "\e863";
}

.icon-cd-wx:before {
  content: "\e64f";
}

.icon-cd-download:before {
  content: "\e655";
}

.icon-cd-remove:before {
  content: "\e7fd";
}

.icon-cd-help:before {
  content: "\e608";
}

.icon-cd-star-outline:before {
  content: "\e7b6";
}

.icon-cd-help-circle:before {
  content: "\e74b";
}

.icon-cd-tag:before {
  content: "\e607";
}

.icon-cd-pin:before {
  content: "\e803";
}

.icon-cd-radio-off:before {
  content: "\e808";
}

.icon-cd-search:before {
  content: "\e603";
}

.icon-cd-eye:before {
  content: "\e73e";
}

.icon-cd-volume-turn-on:before {
  content: "\e7f8";
}

.icon-cd-star-half:before {
  content: "\e66d";
}

.icon-cd-qq:before {
  content: "\e6be";
}

.icon-diqiu:before {
  content: "\e7c1";
}

.icon-muxing:before {
  content: "\e7c2";
}

.icon-yinhexi:before {
  content: "\e7c3";
}

.icon-haiwangxing:before {
  content: "\e7c4";
}

.icon-yueqiuche:before {
  content: "\e7c5";
}

.icon-hangxing:before {
  content: "\e7c6";
}

.icon-taikongcang:before {
  content: "\e7c7";
}

.icon-xingxing:before {
  content: "\e7c8";
}

