@import "common/var";

@font-face {
  font-family: "iconfont";
  src: url("#{$--font-path}/cd-fonts.woff") format("woff"),
    /* chrome, firefox */ url("#{$--font-path}/cd-fonts.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="icon-cd-icon-"],
[class*="icon-cd-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  &.linear-color {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(225deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  }
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cd-icon-twiter:before {
  content: "\e612";
}

.icon-cd-icon-personal-selected:before {
  content: "\e604";
}

.icon-cd-icon-article:before {
  content: "\e629";
}

.icon-cd-icon-delete:before {
  content: "\e628";
}

.icon-cd-icon-on:before {
  content: "\e60b";
}

.icon-cd-icon-artboard-copy:before {
  content: "\e63b";
}

.icon-cd-icon-radio-button-on:before {
  content: "\e910";
}

.icon-cd-icon-skip-backward:before {
  content: "\e927";
}

.icon-cd-icon-right:before {
  content: "\e63c";
}

.icon-cd-icon-paper-plane:before {
  content: "\e601";
}

.icon-cd-icon-unlock:before {
  content: "\e6d8";
}

.icon-cd-icon-down:before {
  content: "\e600";
}

.icon-cd-icon-refresh:before {
  content: "\e606";
}

.icon-cd-icon-map:before {
  content: "\e674";
}

.icon-cd-icon-star:before {
  content: "\e6ad";
}

.icon-cd-icon-build:before {
  content: "\e7ae";
}

.icon-cd-icon-lock:before {
  content: "\e77f";
}

.icon-cd-icon-text:before {
  content: "\e993";
}

.icon-cd-icon-menu:before {
  content: "\e71c";
}

.icon-cd-icon-skip-forward:before {
  content: "\e6a4";
}

.icon-cd-icon-trash:before {
  content: "\eb52";
}

.icon-cd-icon-arrow-down:before {
  content: "\e7b0";
}

.icon-cd-icon-spinner:before {
  content: "\e602";
}

.icon-cd-icon-photos:before {
  content: "\e856";
}

.icon-cd-icon-eye-off:before {
  content: "\e6fa";
}

.icon-cd-icon-add:before {
  content: "\e863";
}

.icon-cd-icon-wx:before {
  content: "\e64f";
}

.icon-cd-icon-download:before {
  content: "\e655";
}

.icon-cd-icon-remove:before {
  content: "\e7fd";
}

.icon-cd-icon-help:before {
  content: "\e608";
}

.icon-cd-icon-star-outline:before {
  content: "\e7b6";
}

.icon-cd-icon-help2:before {
  content: "\e74b";
}

.icon-cd-icon-tag:before {
  content: "\e607";
}

.icon-cd-icon-pin:before {
  content: "\e803";
}

.icon-cd-icon-radio-button-off:before {
  content: "\e808";
}

.icon-cd-icon-search:before {
  content: "\e603";
}

.icon-cd-icon-eye:before {
  content: "\e73e";
}

.icon-cd-icon-volume-turn-on:before {
  content: "\e7f8";
}

.icon-cd-icon-star-half:before {
  content: "\e66d";
}

.icon-cd-icon-qq:before {
  content: "\e6be";
}

.icon-cd-icon-left:before {
  content: "\e618";
}

.icon-diqiu:before {
  content: "\e7c1";
}

.icon-muxing:before {
  content: "\e7c2";
}

.icon-yinhexi:before {
  content: "\e7c3";
}

.icon-haiwangxing:before {
  content: "\e7c4";
}

.icon-yueqiuche:before {
  content: "\e7c5";
}

.icon-hangxing:before {
  content: "\e7c6";
}

.icon-taikongcang:before {
  content: "\e7c7";
}

.icon-xingxing:before {
  content: "\e7c8";
}
