@import "mixins/mixins";
@import "common/var";

@include b(pagination) {
  color: #0a7a60;
  .cd-pagination--left,
  .cd-pagination--right {
    cursor: pointer;
    text-align: center;
    min-width: 30px;
    height: 28px;
    line-height: 28px;
    &:hover {
      color: $--color-primary;
    }
  }
  .is-disabled {
    pointer-events: none;
    color: $--color-info;
  }
  @include e(total) {
    min-width: 36px;
    vertical-align: center;
    margin-right: 10px;
  }
  @include e(background) {
    .cd-pagination--left,
    .cd-pagination--right {
      background-color: $--pagination-background-base;
      border-radius: $--border-radius-base;
    }
    .number {
      background-color: $--pagination-background-base;
      border-radius: $--border-radius-base;
      & + .checked {
        background-image: $--pagination-background-color;
      }
    }
  }
}
@include b(paper) {
  display: inline-block;
  user-select: none;
  .number {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: center;
    cursor: pointer;
    text-align: center;
    min-width: 30px;
    height: 28px;
    line-height: 28px;
    margin: 0 5px;
    &:hover {
      color: $--color-primary;
    }

    & + .checked {
      color: $--color-primary;
      cursor: default;
    }
  }
}
